
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>WS2/R0333</title>
    <link rel="stylesheet" href="../R0333.css">
    <link rel="icon" href="../favicon.png" type="image/x-icon"/>
</head>
<body>
    <img src="../vue_logo.png" alt="vue.js" class="logo"/>
    <h1>R0333 - Project Web App Development with a JavaScript Framework</h1>
    <h2>Vue.js: Workshop 2 - Events, Computed properties, AJAX, Components, Mixins, Custom Directives</h2>
    <hr/>
    <div id="exercise1">
        <h3 v-on:click="isOpen = !isOpen">Exercise 1 - Events</h3>
        <div v-show="isOpen">
            <p>Create event handlers to textarea below to:</p>
            <ul>
                <li>count the characters entered and show count in count span below.</li>
                <li>when enter is clicked, add a text "Enter clicked" into the enter span below.</li>
            </ul>
            <div class="bordered">
                <textarea  v-model ="text"  @keyup.enter="addTextEnter"></textarea>
                <!-- @keyup.enter="myMethod" -->
                <!-- @keyup="handleKeydown($event)" one more way to calculate number of inputs  -->
                <span id="count">
                    <p> {{description}} </p>

                </span>
                <span id="enter">
                    <p> {{message}} </p>
                </span>
            </div>
        </div>
    </div>
    <hr/>
    <div id="exercise2">
        <h3 v-on:click="isOpen = !isOpen">Exercise 2 - Computed Properties</h3>
        <div v-show="isOpen">
            <p>Create a simple workout sheet that uses computed properties to calculate weekly workout hours. You can try doing this either with variables for each weekday or with arrays.</p>
            <p>Also add a weekly total on the last row. Print out text saying whether weekly total is on good level or not.</p>
            <div class="bordered">
                <table>
                    <tr>
                        <th>Sport</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Running</td> 
                        <!-- use different values or Create [] with values -->

                        <td><input type="number" v-model.number="workoutDuration" /></td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td>{{workoutDuration}}</td>
                    </tr>
                    <tr>
                        <td>Gym</td>
                        <td v-for="item in gym"><input type="number" v-model.number="item.value" /></td>
                        <td> {{ gymTotal }}</td>
                    </tr>
                    <tr>
                        <td colspan="8"><strong>Week</strong></td>
                        <td><strong>{{RunTotal}}</strong></td>
                    </tr>
                </table>
                <p>Your workout effort this week: <strong></strong></p>
            </div>
        </div>
    </div>
    <hr/>
        <div id="exercise3">
            <h3 v-on:click="isOpen = !isOpen">Exercise 3 - AJAX</h3>
            <div v-show="isOpen">
                <p>Create a simple currency exchange calculator using a free exchange rate API (for example <a href="https://exchangeratesapi.io/" target="_blank">https://exchangeratesapi.io/).</a></p>
                <div class="bordered">
                    <button type="button" name ="button" @click="getAnswer2">Get rates/answer</button>
                    <p>Current exchange rate for GBP: {{GBP}}<strong></strong></p>
                    <p>Current exchange rate for USD: {{USD}}<strong></strong></p>
                    <label>Price in EUR </label><input type="number"v-model="price"></input>
                    <p>Price {{price}} € = {{price*GBP}}£</p>
                    <p>Price {{price}} € = {{price*USD}}$</p>
                    
                </div>
            </div>
        </div>
    <hr/>
    <div id="exercise4">
        <h3 v-on:click="isOpen = !isOpen">Exercise 4 - Components</h3>
        <div v-show="isOpen">
            <p>Create a simple component that:</p>
            <ul>
                <li>has a property title that is printed in a h2 tag</li>
                <li>has a property text that is printed in a p tag</li>
                <li>has a button that toggles visibility of the p tag</li>
            </ul>
            <p>Add three of these components with different properties into the bordered box below.</p>
            <div class="bordered">
            </div>
        </div>
    </div>
    <hr/>
    <div id="exercise5">
        <h3 v-on:click="isOpen = !isOpen">Exercise 5 - Mixins</h3>
        <div v-show="isOpen">
            <p>Create a log mixin that writes a line (time component was called and the name of the component) in console for each component called. Create three components that print out some content into the bordered box below of which one doesn't have its own name data.</p>
        </div>
    </div>
    <hr/>
    <div id="exercise6">
        <h3 v-on:click="isOpen = !isOpen">Exercise 6 - Custom Directives</h3>
        <div v-show="isOpen">
            <p>Create a custom directive that changes the appearance of the bordered box below.</p>
            <div class="bordered">
            </div>
        </div>
    </div>
    <footer>&copy; Meija Lohiniva Seinäjoki UAS</footer>
    <!-- Ajax using for ex:You can use an external library such as Axios (https://github.com/axios/axios).
    Using a CDN <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <!-- 1. Vue.js added here -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="R0333-ws2.js"></script>
</body>
